<h1>WRITE A BLOG</h1>
<form action="/create" method="POST">
  <fieldset>
    <legend>Create a Blog</legend>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="title"
        placeholder="Title"
      />
    </div>
    <div class="mb-3">
      <textarea
        class="form-control"
        arial-label="blog content"
        name="content"
        placeholder="Content"
      ></textarea>
    </div>

    <input type="submit" class="mt-20" value="Submit" />
  </fieldset>
</form>
